body{
  background-color: #eee;
}

.card{
  position: relative;
  top: 100px;
  left: 100px;
  width: 360px;
  background: #fff;
  box-shadow: 5px 5px 2px #ccc;
}


img{
  width: 360px;
}

h1 span{
  color: #fff;
  background-color: #008888;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 5px;
  margin-left: 15px;
}

p.card-text{
  font-size: 18px;
  margin: 0;
  margin-left: 15px;

}

footer{
  display: inline;
  text-align: right;
}
